@model PostReadDto

<article id="@Model.PostId" class="post">
    <div class="post-header">
        <div class="post-picture"></div>
        <div class="post-title">
            <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Pessoa.PessoaID" class="post-username">@Model.Pessoa.Nome</a>
            <p>sobre <a asp-controller="Locais" asp-action="Index" asp-route-id="@Model.Local.LocalId">@Model.Local.Nome</a></p>
        </div>
        <div class="post-rate">
            @for (int i = 1; i <= Model.Avaliacao; i++)
            {
                @Html.Raw("<i class=\"fa-solid fa-star fa-lg\"></i>")
                ;
            }
            @for (int i = Model.Avaliacao + 1; i <= 5; i++)
            {
                @Html.Raw("<i class=\"fa-regular fa-star fa-lg\"></i>")
                ;
            }
        </div>
    </div>
    <p>
        @Model.Conteudo
    </p>
    <p class="datetime">@Model.DataPostagem.ToString("f")</p>
    <div class="post-reaction">
        @if (Model.Curtiu)
        {
            <a class="post-like" onclick="dislike(@ViewBag.CurrentUserId, @Model.PostId, '@ViewBag.Url', '@ViewBag.Token')">
                <i class="post-like-icon fa-solid fa-heart fa-lg"></i>
                <p class="post-like-counter fw-bolder">@Model.Curtidas</p>
            </a>
        }
        else
        {
            <a class="post-like" onclick="like(@ViewBag.CurrentUserId, @Model.PostId, '@ViewBag.Url', '@ViewBag.Token')">
                <i class="post-like-icon fa-regular fa-heart fa-lg"></i>
                <p class="post-like-counter">@Model.Curtidas</p>
            </a>
        }
    </div>
</article>